/* sidebar-bg-color {
  background: red;
} */

.pro-sidebar .pro-sidebar-inner {
  box-shadow: inset -1px 0 0 0 rgb(120 127 133 / 12%);
  height: 100vh;
}
.pro-sidebar.light .pro-sidebar-inner {
  background: #ffffff;
  color: rgba(0, 0, 0, 1);
}

.pro-sidebar.dark .pro-sidebar-inner {
  background-color: #191a1b;
  color: rgba(255, 255, 255, 1);
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout {
  overflow: visible;
}

/* sidebar-color: #adadad !default; */
/* sidebar-width: 270px !default; */
/* sidebar-collapsed-width: 80px !default; */
/* highlight-color: #d8d8d8 !default; */
/* submenu-bg-color: #2b2b2b !default; */
/* submenu-bg-color-collapsed: #2b2b2b !default; */
/* icon-bg-color: #2b2b2b !default; */
/* icon-size: 35px !default; */
/* breakpoint-xs: 480px !default; */
/* breakpoint-sm: 576px !default; */
/* breakpoint-md: 768px !default; */
/* breakpoint-lg: 992px !default; */
/* breakpoint-xl: 1200px !default; */

@import '~react-pro-sidebar/dist/css/styles.css';
